 /* CSS with vender prefixes
    examples from article links
    they don't do anything currently */
.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(red, green);
  background: linear-gradient(red, green);
}

h1 {
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  transition: all 4s ease;
}


/* Modernizr Examples from article

*/

/* Use this rule if the user's browser doesn't support gradients */
.no-cssgradients .header {
  background: url("images/glossybutton.png");
}


/* Use this rule if the user's browser does support gradients */
.cssgradients .header {
  background-image: linear-gradient(cornflowerblue, rebeccapurple);
}
